
<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Fake News Detection</title>
  <!--<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}"> -->
<link rel="stylesheet" href="C:\Users\dell\Desktop\Short Code\templates\jitu.css">
<style>
body {background-color: White;}
h1
{
    color : SkyBlue;
    text-align : center;
    font-family: "SIMPSON";
}
p    {color: red;}
form
{
    color : Blue;
    text-align : center;
    font-family: "SIMPSON";
}

</style>

</head>

<body>
 <div class="login">
    <h1 style="color:blue,align:center;">Fake News Detection</h1>
    
    
    <!--Main Input For Receiving Query to our ML -->
   <form action="{{ url_for('predict')}}"method="post">
       <input type="text" name="news" placeholder="Enter the URL of the news" required="required" />
       <button type="submit" class="btn btn-primary btn-block btn-large">predict</button>
       
   </form>
   
  <br>
  <br>
  {{ prediction_text }}

</div>

</body>
</html>
